@media screen and (max-width:992px) {
    body{
        padding: 0 10px;
    }
}

@media screen and (max-width:576px) {
    .nav-items{
        display: none;
    }
    .menu{
        display: block;
    }
}