@media screen and (min-width:992px) and (max-width:30000px) {
    .extra-text-container {
        margin-left: 3.375rem;
    }

}

@media screen and (max-width:992px) {
    .small {
        padding: 0 10px;
    }

    .extra-container,
    .calculator-parent {
        padding: 1.8rem;
        margin: 0 10px;
    }

    .hero-container {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 100%;
    }

    .habit-card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    input,
    .sex {
        width: 47%;
    }
    .team-item {
        height: auto;
    }
    .services-content-container{
        max-height: fit-content;
    }

    .footer-parent-container {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 2rem;
        padding: 3rem 1rem 0 1rem;
    }

    .footer-child-1 {
        width: 60%;
    }

    .footer-child-2,
    .footer-child-3 {
        width: 40%;
    }


}

@media screen and (max-width:576px) {
    #header .small:nth-child(2){
        margin-bottom: 0;
    }
    .section-title {
        font-size: 2rem;
    }

    .section-description {
        max-width: 320px;
    }

    .nav-items {
        display: none;
    }

    .menu {
        display: block;
    }

    .hero-container h1 {
        font-size: 3.2rem;
        line-height: 120%;
    }

    .button-container .primary-btn{
        padding: 1rem;
    }

    span {
        font-size: 5rem;
    }

    .button-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 14px;
    }

    .hero-image-container {
        width: 100%;
    }

    .lower-card,
    .upper-card {
        padding: 0.5rem .4rem 0.5rem 1rem;
    }

    .upper-card h2 {
        font-size: 1.875rem;
    }

    .lower-card h2 {
        font-size: 1.125rem;
    }

    .upper-card>p {
        font-size: 9px;
    }

    .lower-card p {
        font-size: 12px;
    }

    .upper-card {
        top: 8%;
        left: 57%;
        width: 7.5rem;
    }

    .lower-card {
        top: 50%;
        left: 5%;
        gap: 9px;
    }

    .red-circle {
        width: 1.5rem;
        height: 1.5rem;
    }

    .red-circle i {
        display: block;
    }

    .habit-card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .extra-container {
        flex-direction: column;
        gap: 2rem;
    }

    .extra-text-container {
        display: flex;
        flex-direction: column;
    }

    .extra-text-container,
    .extra-img-container {
        width: 100%;
    }

    .extra-img-container {
        min-height: 10px;
    }

    .extra-img-container img {
        object-fit: cover;
    }

    .calculator-parent {
        flex-direction: column;
        gap: 5rem;
    }

    .calculator-table {
        width: 95%;
    }

    .calculator-form {
        width: 100%;
    }

    .bmi-calculator-text {
        margin-left: 0;
    }

    .team-imgs-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .team-item img {
        max-height: 272px;
    }

    .services-content-container, .service-cost-container{
        display: flex;
        flex-direction: column;
    }
    .services-content-container{
        gap: .8rem;
    }
    .service-text-container{
        padding: 0;
    }

    .column-reverse{
        flex-direction: column-reverse;
    }
    .services-container{
        display: flex;
        flex-direction: column;
        
    }
    .footer-parent-container {
        flex-direction: column;
        gap: 2rem;
    }

    
    .footer-child-1,
    .footer-child-2,
    .footer-child-3 {
        width: 100%;
    }

    .footer-child-1 .section-description{
        width: 95%;
    }
}