@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* font-family: "Inter", sans-serif; */

@import url('https://fonts.cdnfonts.com/css/miama');
/* font-family: 'Miama', sans-serif; */

/* Object-fit:none;
Object-position: 66% 33%; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: black;
    color: white;
}

header {
    padding-top: 3.5rem;
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0.2), rgb(17, 17, 17) 100%);
}

.small {
    max-width: 1060px;
    margin: 0 auto;
    margin-bottom: 5rem;
}

img {
    width: 100%;
}

.section-title {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: .8rem;
}

.section-description,
.team-item-text>p,
td {
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.5);
    max-width: 560px;
}

.section-title-container,
.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.primary-btn,
.secondary-btn {
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 1rem 2.5rem;
    font-weight: 600;
    border: none;
    color: white;
    cursor: pointer;
}

.secondary-btn {
    padding: .5rem 1.25rem;
}

.background-black {
    background-color: black;
    border: 1px solid white;
}

.only-for-bg {
    background-color: #222222;
}

/* navbar related styles */
nav,
.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-weight: 800;
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-style: italic;
}

.nav-items {
    padding: 5px;
    padding-right: 20px;
    font-size: 1.125rem;
    gap: 2.8rem;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}

.nav-items>p:hover {
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: .5rem 1.25rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.menu {
    font-size: 1.125rem;
    display: none;
}

/* banner related styles */
.hero-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}

.hero-text-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-container h1 {
    font-size: 4.8rem;
    line-height: 100%;
    font-weight: 900;
}

span {
    font-family: 'Miama', sans-serif;
    font-weight: 500;
    font-size: 7rem;
}

.hero-container p {
    color: rgba(255, 255, 255, 0.5);
    margin: 1.75rem 0 1.75rem 0;
}

.hero-image-container {
    width: 60%;
    position: relative;
    display: flex;
}

.upper-card {
    top: 25%;
    left: 60%;
    width: 12rem;
}

.lower-card {
    display: flex;
    align-items: center;
    gap: 12px;

    top: 70%;
    left: -15%;
}

.lower-card,
.upper-card {
    position: absolute;
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background-color: #393939c5;
    backdrop-filter: blur(5px);
}

.upper-card h2 {
    font-size: 2.5rem;
}

.lower-card h2 {
    font-size: 1.5rem;
}

.upper-card>p,
.lower-card p {
    margin: 0.4rem 0 0 0;
    font-size: 1rem;
}

.upper-card>p {
    font-size: .8rem;
}

.red-circle {
    background-color: rgb(230, 83, 60);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red-circle i {
    display: none;
}

/* habits section related styles */
.habits-container, .unique {
    text-align: center;
}

.habit-card-container {
    margin-top: 3.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
}

.card-container {
    text-align: center;
}

.card-container>p {
    padding: 2px 5px;
    margin-top: 6px;
}

.card-container .img-container {
    border-radius: 50%;
    margin: 0 .9rem 1.8rem .9rem;
    display: flex;
    border: 5px solid rgba(255, 255, 255, 0.205);
}

.card-container .img-container img {
    border-radius: 50%;
}

/* run an extra mile section related styles */
.extra-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(34, 34, 34);
    border-radius: 18px;
    padding: 1.8rem;
}

.extra-text-container,
.extra-img-container {
    width: 40%;
}

.extra-img-container {
    min-height: 312px;
    display: flex;
}

.extra-img-container img {
    height: auto;
    border-radius: 18px;
    object-fit: none;
    object-position: 67% 28%;
}

.extra-text-container p {
    margin-bottom: 2.125rem;
    line-height: 24px;
}

/* bmi calculator related styles */
.bmi-calculator,
.calculator-parent {
    margin-top: 4rem;
}

.calculator-parent h3{
    font-size: 1.5rem;
    font-weight: 900;
}

.calculator-form h3{
    margin-bottom: 14px;
}

table {
    margin-top: 3rem;
    width: 100%;
}

table,
th,
td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
}

th,
td {
    padding: 1rem;
    text-align: left;
}

.calculator-parent {
    display: flex;
    justify-content: space-between;

    padding: 3.25rem .5rem 3.25rem .5rem;
}

.calculator-table {
    width: 30%;
}

.calculator-form {
    width: 55%;
}

.form-inputs {
    margin: 2.125rem 0 2.125rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
}

.form-inputs input,
select {
    padding: .8rem 1.2rem;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: #757575;
}

select {
    width: 100%;
}

input,
.sex {
    width: 48%;
}

.bmi-calculator-text {
    margin-left: 190px;
}

/* meet our team related styles */
.team-container {
    text-align: center;
    
}
#team-container{
    margin-top: 5rem;
}

.team-imgs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.2rem;
    margin: 4.5rem .5rem 0 .5rem;
    padding: 1.25rem;
    border-radius: 18px;
}

.team-item {
    height: 272px;
}

.team-item img {
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
    filter: brightness(70%);
}

.team-item {
    position: relative;
}

.team-item-text {
    text-align: left;
    position: absolute;
    bottom: 1.5rem;
    left: 2rem;
}

/* unique section: our services related styles  */
.services-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}
.services-content-container{
    /* max-height: 310px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,1fr); */
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    justify-content: space-between;
    margin: 2.5rem .5rem 0 .5rem;
    padding: 1.25rem;
    border-radius: 18px;
}


.service-cost-container{
    display: flex;
    justify-content: space-between;
    gap: 2rem;

}
.service-cost-container>div{
    display: flex;
    gap: .5rem;
    align-items: center;
}
.service-text-container h3{
    font-size: 2.5rem;
    font-weight: 700;
}

.service-img-container{
    display: flex;
    height: 60%;
}
.service-img-container img{
    object-fit: cover;
    border-radius: 18px;
}

.service-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}


/* footer related styles */
.footer-parent-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0 0 0;

    margin: 2.4rem 0 2.4rem 0;

    /* border: 1px solid white; */
}

.footer-child-1 {
    width: 40%;
}

.footer-container h2{
    font-size: 4.375rem;
}

.footer-container h3 {
    margin-bottom: 2rem;
}

.footer-container p, .rights {
    margin-top: 1.25rem;
    color: rgba(255, 255, 255, 0.5);
}

.rights{
    text-align: center;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    padding: 2.25rem 0 2.25rem 0;
    font-size: 1.25rem;
}

#footer{
    margin: 0 auto;
}
